[submodule "include/yaml-cpp"]
	path = include/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "plugins/imgui-gui/imgui"]
	path = plugins/imgui-gui/imgui
	url = https://github.com/ocornut/imgui
