[submodule "include/yaml-cpp"]
	path = include/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "plugins/imgui-gui/imgui"]
	path = plugins/imgui-gui/include/imgui
	url = https://github.com/ocornut/imgui
[submodule "plugins/imgui-gui/include/implot"]
	path = plugins/imgui-gui/include/implot
	url = https://github.com/epezent/implot
[submodule "plugins/zeromq/include/libzmq"]
	path = plugins/zeromq/include/libzmq
	url = https://github.com/zeromq/libzmq
[submodule "include/tojson"]
	path = include/tojson
	url = https://github.com/mircodezorzi/tojson
[submodule "plugins/imgui-gui/include/ImGuiFileDialog"]
	path = plugins/imgui-gui/include/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "plugins/usb-radio/include/SoapySDR"]
	path = plugins/usb-radio/include/SoapySDR
	url = https://github.com/pothosware/SoapySDR
